/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import other fonts */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/JetBrainsMono-Regular.ttf");
}

/* Set the font family for the body */
html {
	font-size: 70%;
}

html,
body {
	overflow: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background-color: theme("colors.white");
	display: flex;
	justify-content: center;
}

#__next {
	width: 100%;
	max-width: 1100px;
	padding: 0 2rem;
}

@media (max-width: 1024px) {
	#__next {
		padding: 0 1rem;
	}
}

/* Prevent image dragging */
img {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* Selection styling */
::selection {
	background-color: theme("colors.gray");
	color: #000;
}
